body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: greenyellow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  color: white;
  max-width: 800px;
  padding: 10px 20px;
  margin: 0 auto;
  background: darkgreen;
}

.navBAr {
  background: lightgreen;
}

ul {
  padding: 0;
}

.book {
  background: darkgreen;
  padding: 20px;
  margin: 10px;
  list-style: none;
}

.book:hover {
  text-decoration: line-through;
  cursor: pointer;
}

.finishedBooks,
.bookList {
  background: green;
  padding: 20px;
  margin: 10px;
}
.finishedBooks ul {
  padding: 0;
  list-style: none;
}
.finishedBooks ul li {
  padding: 5px;
  background: darkgreen;
}

.bookForm {
}

.bookForm input[type='text'] {
  padding: 5px;
  background: green;
  border: 0;
  margin-right: 10px;
}

.bookForm input[type='submit'] {
  background: green;
  border: 0;
  color: white;
  padding: 5px;
}

.bookForm input[type='text']::placeholder {
  color: white;
}
